{% extends "base.html" %} {% block title %} Math Problems {% endblock title %}
{% block content %} {% if mathproblems %}

<div class="flex gap-5 mt-5 mb-5 w-[90%] flex-wrap">
  {% for mathproblem in mathproblems %}

  <a href="{% url 'mathproblem_detail' mathproblem.id %}"
    class="shadow-lg rounded-lg bg-white mb-2 min-w-[15%] hover:scale-105 transition-all duration-300">

    <div class="bg-gray-400 text-white px-4 py-2 rounded-t-md">
      <strong>Problem:</strong>
      <p>{{ mathproblem.question|truncatewords:10 }}</p>
    </div>

    <div class="px-4 py-2">
      <strong>Solution:</strong>
      <p>{{ mathproblem.solution|truncatewords:10 }}</p>
    </div>

  </a>
  {% endfor %}
</div>

{% else %}
<p>No math problems found.</p>
{% endif %} {% endblock content %}